.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}

.contact-title {
    position: relative;
}

.contact-title h1 {
    font-size: 80px;
    letter-spacing: 0.03em;
    font-weight: 600;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.contact-left h1 {
    font-size: 70px;
    font-weight: 700;
    background: linear-gradient(to right, #ee7752, #e73c7e, #fff 35%, #23a6d5, #23d5ab);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 15s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 75%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 70%;
    }
}


/* Coordonnée */


.contact-details {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    font-size: 22px;
}

.contact-detail p {
    color: #fff;
}

.contact-details{
    gap: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.contact-detail {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: 0.3s;
    width: 100%;
    height: 50%;
}

.contact-details hr{
    height: 50%;
}

.contact-detail p:nth-of-type(1){
    font-weight: bold;
    letter-spacing: 0.1;
}

.contact-detail p:nth-of-type(2){
    font-size: 1.2rem;
    color: #ffffffb0;
}

.icon-contact {
    border-radius: 50px;
    padding: 25px;
    background: #fff;
    color: #161513 ;
    cursor: pointer;
    transition: 0.3s;
}


.icon-contact:hover{
    transition: 0.5s;
    transform: scale(1.2);
    color: #fff;
}

.contact-detail:nth-of-type(1) .icon-contact:hover{
    background: linear-gradient(270deg,  #e73c7e,  #8f1a47);
}

.contact-detail:nth-of-type(2) .icon-contact:hover{
    background: linear-gradient(270deg,   #ee7752,   #d55028);
}

.contact-detail:nth-of-type(3) .icon-contact:hover{
    background: linear-gradient(270deg,  #23d5ab, #23a6d5);

}

.icon-contact:active {
    transition: 0.3s;
    transform: translateY(30%);
}


/* Clique pour copier */


.copy-confirm {
    position: fixed;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    pointer-events: none;
}

/* .copy-confirm::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: rgb(35, 213, 171) transparent transparent transparent;
    } */


/* Formulaire de Message */


.contact-right{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 50px;
    margin-right: 200px;
    margin-top: 90px;
}

.form-group{
    position: relative;
    width: 500px;
}

.form-group input{
    width: 600px;
    padding: 10px;
    padding-left: 20px;
    height: 45px;
    border: 1px solid rgb(255, 255, 255, 0.25);
    background: #161513;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 20px;
}

textarea{
    width: 600px;
    border: 1px solid rgb(255, 255, 255, 0.25);
    background: #161513;
    height: 300px;
    border-radius: 10px;
    color: #fff;
    outline: none;
    padding: 20px;
    padding-left: 30px;
    font-size: 20px;
    transition: 0.5s;
    font-family: 'outfit';
}

.form-group span {
    position: absolute;
    top: 30%;
    padding-left: 22px;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0.3;
}

.textarea span{
    position: absolute;
    top: 20px;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 31px;
    transition: 0.5s;
    pointer-events: none;
}

.form-group input:valid ~ span,
.form-group input:focus ~ span{
    color:  #161513;
    transform: translateY(-30px) translateX(40px);
    font-size: 18px;
    padding: 0 10px;
    letter-spacing: 0.2em;
    background: #ee7752;
    opacity: 1;
}

.form-group input:valid,
.form-group input:focus{
    transition: 0.5s;
    border: 1px solid  #ee7752;
}

.form-group:nth-of-type(2) input:valid ~ span,
.form-group:nth-of-type(2) input:focus ~ span {
    background: #e73c7e; 
}

.form-group:nth-of-type(2) input:valid,
.form-group:nth-of-type(2) input:focus {
    border: 1px solid #e73c7e; 
}

textarea:focus ~ span,
textarea:not(:placeholder-shown) ~ span{
    color:  #23d5ab;
    transform: translateY(-30px) translateX(40px);
    font-size: 18px;
    padding: 0 20px;
    background: #161513;
    border-left: 1px solid #23d5ab;
    border-right: 1px solid #23d5ab;
    letter-spacing: 0.2em;
    opacity: 1;
}

textarea:focus,
textarea:not(:placeholder-shown){
    transition: 0.5s;
    border: 1px solid #23d5ab;
}


/* Bouton d'envoi */


.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(270deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: transform 0.3s;
    background-size: 300% 300%;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.contact-submit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background: linear-gradient(270deg, rgb(35, 213, 171), rgb(35, 166, 213), rgb(231, 60, 126), rgb(238, 119, 82));
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    background-size: 300% 300%;
    filter: blur(10px);
}


.contact-submit:hover {
    transform: scale(1.1);
    animation: gradient-animation 3s forwards;
}

.contact-submit:hover::before {
    opacity: 1;
    animation: gradient-animation 3s forwards;
    transform: scale(1.1);
}


/* Réseau Social */


.media {
    margin-top: 25px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media div {
    color: #fff;
    transition: transform 0.5s;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
}

.media div::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 50%;
    transition: transform 0.5s;
    transform-origin: center;
    transform: scale(1);
}

.media div:hover::before {
    transform: scale(0);
}

.media div svg {
    transition: transform 0.5s;

}

.media div:hover svg {
    transform: scale(1.6);
}

.icon {
    position: relative;
}

.icon::after {
    content: '';
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    background-size: 200% 200%;
    filter: blur(20px);
    transform: scale(0.8);
}

.insta::after {
    background-image: linear-gradient(to right, #ee2a7b, #6228d7, #f9ce34);
}

.github::after {
    background-image: linear-gradient(to right, #2DBA4E, #fafbfc);
}

.linkedin::after {
    background-image: linear-gradient(to right, #0077b5, #fff);
}

.stack::after {
    background-image: linear-gradient(to right, #F48024, #BCBBBB, #222426);
}

.facebook::after {
    background-image: linear-gradient(to right, #3b5998, #dfe3ee);
}

.discord::after {
    background-image: linear-gradient(to right, #7289da, #99aab5);
}

@keyframes gradientAnimation {
    0% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.7);
    }
}

.icon:hover::after {
    opacity: 1;
    animation: gradientAnimation 3s ease infinite;
}


@media (max-width:768px) {



}


/* mobile */


@media screen and (max-width: 576px) {
    .contact {
        margin-left: 5%;
    }
    .contact h1{
        text-align: center;
        font-size: 3rem;
        text-wrap: wrap;
        width: 70%;
    }
    .contact-section{
        padding: 0 0; 
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .contact-left h1 {
        margin-left: 15%;
        text-align: center;
        font-size: 2.3rem;
        text-wrap: wrap;
        max-width: 70%;
    }
    .media {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        margin-left: 23%;
        align-items: center;
        max-width: 50%;
    }
    .media a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        margin-left: -7%;
    }

    .contact-details hr {
        display: none;
    }

    .contact-right{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10% 0 30%;
    }

    /* .form-group{
        max-width: 8%;
    } */

    .contact-right input{
        max-width: 50%;
    }
    .contact-right textarea{
        max-width: 45%;
    }
    .contact-right input, .contact-right textarea{
        margin-left: 8%;
    }
    .contact-right span{
        margin-left: -60%;
        font-size: 1.2rem;
    }
    textarea:focus ~ span,
    textarea:not(:placeholder-shown) ~ span{
    color:  #23d5ab;
    transform: translateY(-30px) translateX(40px);
    font-size: 1.1rem;
    padding: 0 5px;
    background: #161513;
    border-left: 1px solid #23d5ab;
    border-right: 1px solid #23d5ab;
    letter-spacing: 0rem;
    opacity: 1;
    }
    .contact-submit{
        margin-left: 15%;
    }
}
