.body {
    margin: 200px 0;
}

.sub-title {
    text-align: center;
    font-size: 4.5rem;
    padding-bottom: 70px;
    padding-top: 30px;
}

.sub-title span {
    background: linear-gradient(to right, #e73c7e, #ee7752 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.5%;
}

.sub-section {
    display: flex;
    flex-wrap: wrap;
}

.container1{
    width: 600px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 1.4rem;
}

.technical-bars .bar {
    margin: 40px 0;
}

.technical-bars .bar:first-child {
    margin-top: 0;
}

.technical-bars .bar:last-child {
    margin-bottom: 0;
}

.technical-bars .bar .info {
    margin-bottom: 5px;
}

.technical-bars i {
    font-size: 2rem;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

@keyframes animate {
    from {
        width: 0; 
    }
    to {
        width: var(--progress); 
    }
}

.technical-bars .bar .info span {
    font-size: 1.5rem;
    font-weight: 500;
    animation: showText 1s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar.animate .info span {
    animation-play-state: running;
}

.technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 10px;
    background-color: #000;
    --progress: 100%;
    display: none;
}

.technical-bars .bar.animate .progress-line {
    animation: animate 1s linear forwards;
    display: block; 
}

.technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #23a6d5;
    position: absolute;
    border-radius: 10px;
    width: 0; 
}

.technical-bars .bar.animate .progress-line span {
    animation: animate 1s 1s linear forwards;
    animation-play-state: running;
}

.progress-line.html5 span {
    --progress: 78%;
}
.progress-line.css3 span {
    --progress: 75%;
}
.progress-line.javascript span {
    --progress: 45%;
}
.progress-line.react span {
    --progress: 62%;
}
.progress-line.nodejs span {
    --progress: 42%;
}

.progress-line span::after {
    content: attr(data-content); 
    position: absolute;
    font-size: 1.2rem;
    padding: 2px 8px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    top: -35px; 
    right: 0;
    transform: translateX(50%);
    white-space: nowrap;
    display: inline-block;
    line-height: 1;
    opacity: 0; 
}

.technical-bars .bar.animate .progress-line span::after {
    animation: showText 1s 1s cubic-bezier(0,0,1,0) forwards;
}

.progress-line.html5 span::after {
    content: "78%";
}
.progress-line.css3 span::after {
    content: "75%";
}
.progress-line.javascript span::after {
    content: "45%";
}
.progress-line.react span::after {
    content: "62%";
}
.progress-line.nodejs span::after {
    content: "42%";
}

.progress-line span::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -15px;
    right: 0;
    opacity: 0;
}

.technical-bars .bar.animate .progress-line span::before {
    animation: showText 1s 1s cubic-bezier(0,0,1,0) forwards;
}

.hidden {
    visibility: hidden;
}

.technical-bars .bar.hidden .progress-line {
    display: none;
}



.radial-bars {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 300px;
    position: relative;
    margin-bottom: 10px;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 250px;
    height: 250px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: #000;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path {
    stroke-width: 10;
    stroke: #23a6d5;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.hidden .progress-bar,
.hidden .path {
    display: none;
}

.radial-bars .radial-bar.animate .progress-bar {
    animation: animate-bar 1s linear forwards;
    display: block;
}

.radial-bars .radial-bar.animate .path-1 {
    animation: animate-path1 1s 1s linear forwards;
    display: block;
}

.radial-bars .radial-bar.animate .path-2 {
    animation: animate-path2 1s 1s linear forwards;
    display: block;
}

.radial-bars .radial-bar.animate .path-3 {
    animation: animate-path3 1s 1s linear forwards;
    display: block;
}

.radial-bars .radial-bar.animate .path-4 {
    animation: animate-path4 1s 1s linear forwards;
    display: block;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 165;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 75;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 251;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 90;
    }
}

.radial-bars .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-weight: 600;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bars .radial-bar.animate .percentage {
    animation-play-state: running;
    opacity: 1;
}

.radial-bars .text {
    font-size: 1.3rem;
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bars .radial-bar.animate .text {
    animation-play-state: running;
    opacity: 1;
}